# Ignore user-specific configuration
lib/jellymac_config.sh
# Ignore backups of config file
lib/jellymac_config.sh.bak
lib/jellymac_config.example.sh.bak
# Ignore log files and directory
logs/
*.log

# Ignore state directory and its contents
.state/

# Ignore macOS system files
.DS_Store
._*

# Ignore temporary files created by scripts (if any consistent patterns)
# Example:
# *.tmp
# .*.tmp
.yt_download_archive.txt
.yt_download_archive.txt.bak
lib/organizer_utils.sh
story.txt
jellymac_installer.sh